[alias]
    # View the SHA, description, and history graph of the latest 20 commits
    l = log --pretty=oneline -n 20 --graph
    ci = commit
    st = status
    co = checkout
    login = !sh /Users/vishaltelangre/workspace/engineering/git/git_login.sh

[apply]
    # Detect whitespace errors when applying a patch
    # whitespace = fix

[core]
    # Use custom `.gitignore` and `.gitattributes`
	excludesfile = /Users/vishal/.gitignore
    attributesfile = ~/.gitattributes
    # Treat spaces before tabs, lines that are indented with 8 or more spaces, and all kinds of trailing whitespace as an error
    # whitespace = space-before-tab,indent-with-non-tab,trailing-space
    #
    # Use https://github.com/dandavison/delta to show diff
  pager = diff-so-fancy | less
    # pager = delta

[interactive]
    # diffFilter = delta --color-only
  diffFilter = diff-so-fancy | less

[delta]
    features = line-numbers decorations
    syntax-theme = Dracula
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan box ul

[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28

[color]
    # Use colors in Git commands that are capable of colored output when outputting to the terminal
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[merge]
    # Include summaries of merged commits in newly created merge commit messages
    log = false

# Use `origin` as the default remote on the `master` branch in all cases
[branch "master"]
    remote = origin
    merge = refs/heads/master

# URL shorthands
[url "git@github.com:"]
    insteadOf = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
    insteadOf = "github:"
[url "git@gist.github.com:"]
    insteadOf = "gst:"
    pushInsteadOf = "gist:"
    pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
    insteadOf = "gist:"
[user]
    name = Vishal Telangre
    email = the@vishaltelangre.com
    signingkey = FFC341B05CB7051477AC879516BA3EBD701E48D8
[filter "hawser"]
    clean = git hawser clean %f
    smudge = git hawser smudge %f
    required = true
[filter "lfs"]
    clean = git lfs clean %f
    smudge = git lfs smudge %f
    required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
    helper = osxkeychain
[hub]
    reportCrash = never
[commit]
    gpgsign = false
[gpg]
    program = gpg
[fetch]
    prune = false
[gitflow "prefix"]
    feature = feature
    hotfix = hotfix
    release = release
[gitflow "branch"]
    develop = master
    master = master
[pull]
	rebase = false
[http]
	sslverify = false
